{% extends 'base.html' %}

{% block title %}Add Word{% endblock %}

{% block content %}
<div class="container">
    <h1 class="title">Add a New Word</h1>
    <form action="{{ url_for('main.add_word') }}" method="post" id="add-form" class="form">
        <div class="field">
            <label for="question" class="label">Question:</label>
            <div class="control">
                <input type="text" name="question" class="input" id="question" required onInput="checkWordExists('question')">
                <div class="invalid-feedback" id="question-feedback"></div>
            </div>
        </div>
        <div class="field">
            <label for="answer" class="label">Answer:</label>
            <div class="control">
                <input type="text" name="answer" class="input" id="answer" required onInput="checkWordExists('answer')">
                <div class="invalid-feedback" id="answer-feedback"></div>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button type="submit" class="button is-primary" id="submit-btn" disabled>Add</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
