.notification.is-small {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    min-width: 10em;
}

.notification .delete {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.invalid-feedback {
    color: #ff6b6b; /* розовый цвет */
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
  }

/* стили для кнопки "Удалить" */
.delete-word-btn {
    position: relative;
    transition: all 0.3s ease;
}

.delete-word-btn:hover::after {
    content: "Опасно";
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
}