<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flashcards{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav class="navbar is-dark">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="{{ url_for('main.index') }}">Flashcards</a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="{{ url_for('main.help') }}">Help</a>
                    {% if username %}
                    <a class="navbar-item" href="{{ url_for('auth.user_profile')}}">Profile</a>
                    <a class="navbar-item" href="{{ url_for('main.add_word') }}">Add word</a>
                    <a class="navbar-item" href="{{ url_for('main.study') }}">Study</a>
                    <a class="navbar-item" href="{{ url_for('main.study_reverse') }}">Study Reverse</a>
                    <a class="navbar-item" href="{{ url_for('auth.logout') }}">Quit</a>
                    {% else %}
                        <a class="navbar-item" href="{{ url_for('auth.register') }}">Register</a>
                        <a class="navbar-item" href="{{ url_for('auth.login') }}">Sign In</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}
    
    <section class="section">
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class="notification is-{{ category }} is-small" data-notification-id="{{ loop.index }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </section>
    <section class="section">
        <div class="container">
            <p class="has-text-centered">
                &copy; 2024 <a href="https://github.com/turamant">Turamant</a>
            </p>
        </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
