<!DOCTYPE html>
<html>
<head>
    <title>Study</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>Test Your Knowledge</h1>
    <p>Question: {{ question }}</p>
    
    <p>Total Words: {{ total_words }}</p>
    <p>Correct Answers: {{ total_correct }}</p>
    
    <form id="answerForm" action="{{ url_for('main.check_answer') }}" method="post">
        <input type="hidden" name="correct_answer" value="{{ correct_answer }}">
        <input type="hidden" name="total_correct" value="{{ total_correct }}">  <!-- Добавлено для передачи total_correct -->
        
        {% for option in options %}
            <button type="button" name="answer" value="{{ option }}" onclick="submitAnswer(this)">{{ option }}</button>
        {% endfor %}
    </form>

    <script>
        function submitAnswer(button) {
            document.getElementById("answerForm").innerHTML += '<input type="hidden" name="answer" value="' + button.value + '">';
            document.getElementById("answerForm").submit();
        }
    </script>
</body>
</html>


