{% extends 'base.html' %}

{% block title %}Study{% endblock %}

{% block content %}
<section class="section custom-container">
<div class="container">
    <h1 class="title">Testing your knowledge</h1>
    <div class="box">
        <p class="title">{{ question }}</p>

        <div class="field is-grouped is-grouped-multiline">
            <div class="control">
                <p class="heading">Total words</p>
                <p class="subtitle">{{ total_words }}</p>
            </div>
            <div class="control">
                <p class="heading">Correct answers</p>
                <p class="subtitle">{{ total_correct }}</p>
            </div>
        </div>

        <form id="answerForm" action="{{ url_for('main.check_answer') }}" method="post">
            <input type="hidden" name="correct_answer" value="{{ correct_answer }}">
            <input type="hidden" name="total_correct" value="{{ total_correct }}">

            {% for option in options %}
                <button type="button" class="button is-primary" name="answer" value="{{ option }}" onclick="submitAnswer(this)">{{ option }}</button>
            {% endfor %}
        </form>
    </div>
</div>
</section>
{% endblock %}



